.mainli{
    display: flex;
    list-style: none;

}
.mainli button{
    border: 1px solid rgb(0, 204, 255);
   border-radius: 5px;
   margin-top: 1.5rem;
   float: left;
   height: 40px;
   min-width: 40px;
   
}