.maindiv{
    position: fixed;
    height: 90%;
    width: 36%;
    margin-left: auto;
    padding: 1rem;
    background-color:white;
    border-radius: 5px;
    border-left:1px solid black;
    border-top:1px solid black;
    z-index: 30;
    right: 0;
    margin: 4rem 0 0 0;
  text-align: center;
  overflow-y: scroll;
}
.maindiv Button{
  float: right;
  margin-top: 0.5rem;
  border: 1px solid gray;
  background-color: white;
  color: gray;
  font-size: large;
}
.maindiv Button:hover{
  border: 1px solid gray;
  background-color: white;
  color: gray;
}
.maindiv h1{
    margin-left: 4.5rem;
    margin-top: 2.5rem;
    color: black;
    font-family: -moz-initial;
    
}
.maindiv h4{
  border-bottom: 1px solid black;
}

.seconddiv Button{
  background-color: rgb(82, 220, 82);
  color: white;
}
.seconddiv{
  margin-bottom: 15px;
}
.seconddiv Button:hover{
  border: 1px solid #0ef;
  background-color: rgb(82, 220, 82);
  color: white;
}
