.maindiv{
    width: 35%;
    margin-top: 1%;
    margin-left: 33%;
    border: 3px solid blueviolet;
    border-radius: 12px;
    padding: 2rem;
    
}
.maindiv Button{
    margin-bottom: 1rem;
}
.maindiv p{
    text-align: center;
}