.maindiv div{
    display: flex;
margin: auto;
}
.maindiv a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 200;
    margin-left: 5rem;
}
.maindiv button{
    height:28px ;
    width: 50px;
    font-size: 14px;
    color: white;
    background-color: transparent;
    padding: 3px;
    border: 2px solid rgb(22, 61, 235);
    border-radius: 7px;
    float: right;
}
@media (min-width:546px) and (max-width:810px){
    .maindiv a{
        margin-left: 2rem;
    }
}
@media (max-width:546px){
    .maindiv a{
    margin-left:5px ;
    }
}