.navbardiv{
    display: flex;
    margin: auto;
    padding: 0;
}
.navbardiv a{
    text-decoration: none;
    text-align: center;
    margin-left: 5rem;
    color: white;
    font-size: 18px;
    font-weight: 200;
}

.navbardiv a:hover,
.navbardiv a:active,
.navbardiv a.active{
 
    color: #95bcf0;
    border-bottom: 1px solid #95bcf0;

}


